{
    "env": {
      "node": true,
      "jest": true,
      "browser": true,
      "es6": true
    },
    "parser": "babel-eslint",
    "extends": [
      "airbnb",
      "plugin:react/recommended",
      "plugin:flowtype/recommended"
    ],
    "rules": {
      "react/jsx-filename-extension": ["error", { "extensions": [".js"] }]

    }
  }